body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    margin-bottom: 10px;
}

h2, h3 {
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #666;
}

.task-form-section, .task-list-section {
    margin-bottom: 20px;
}

.task-form-section h3{
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 97%;
    padding: 10px;
    font-size: 16px;
}

.btn{
    display: flex;
    justify-content: center;

}

button {
    background-color: #079dcb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 150px;
    transition: all .5s ease;
}

button:hover {
    background-color: #548dca;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

li span {
    flex-grow: 1;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

li button:hover {
    background-color: #c82333;
}

#filterContainer {
    margin-bottom: 20px;
}
